footer {
    background-color: #f2f2f2;
    padding: 25px;
}

body {
    font-family: 'Avenir LT Std', sans-serif !important;
}

p {
    font-family: "Avenir LT Semi-Light", sans-serif;
}

h5 {
    font-style: italic;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

.btn-primary {
    color: #fff;
    background-color: #004561;
    border-color: #004561;
}

.btn-primary:hover {
    color: #fff;
    background-color: #46BA97;
    border-color: #46BA97;
}

.btn-secondary {
    color: #fff;
    background-color: #ADADAD;
    border-color: #ADADAD;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #46BA97;
    border-color: #46BA97;
}

.rounded {
    border-radius: 1rem !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#login {
    margin: 13px;
}

#subtext {
    overflow-wrap: break-word;
}

.dropdown {
    float: left;
}

.blue-icon{
    color: rgb(0, 69, 97) !important;
}
