footer {
    background-color: #f2f2f2;
    padding: 25px;
}

body {
    font-family: 'Avenir LT Std', sans-serif !important;
}

p {
    font-family: "Avenir LT Semi-Light", sans-serif;
}

h5 {
    font-style: italic;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

.btn-primary {
    color: #fff;
    background-color: #004561;
    border-color: #004561;
}

.btn-primary:hover {
    color: #fff;
    background-color: #46BA97;
    border-color: #46BA97;
}

.btn-secondary {
    color: #fff;
    background-color: #ADADAD;
    border-color: #ADADAD;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #46BA97;
    border-color: #46BA97;
}

.rounded {
    border-radius: 1rem !important;
}

.objectfit {
    object-fit: cover
}

.dropdown {
    float: left;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#subtext {
    overflow-wrap: break-word;
}

.social {
    color: #004561;
}

.social:hover {
    color: #46BA97;
}

.btn:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.top-buffer {
    margin-top: 30px;
}

@media (max-width: 767.98px) {
    .top-buffer-mobile {
        margin-top: 30px;
    }
}

#accountbutton {
    height: 37px !important;
}

#column {
    width: 30%;
}

#detail {
    width: 10%;
}

.progress-bar {
    position: relative;
    height: 100px;
    width: 100px;
}